.overlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 5%;
    }

    .errorMessage{
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
    }
}

.resetSuccess{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;

    .inputGroup{
        display: flex;
        flex-direction: column;
        margin-bottom: 7%;
    }
}