.overlay{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .selection{
            margin: 0% 0% 3% !important;
        }
        
        .deviceList{
            min-height: 90%;
            margin: 0% 3% 0% !important;
        }

        .itemGroup{
            overflow: auto !important;
            margin-top: 10% !important;
            max-height: 19em !important;
        }

        .clearBtn{
            width: 100%;
        }
        
    }

    .buttonGroup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2% 2%;
    }
}