.overlay{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .selection{
            margin: 0% 0% 3% !important;
        }
        
        .deviceList{
            margin: 0% 3% 0% !important;
        }

        .itemGroup{
            overflow: auto !important;
            max-height: 20em !important;
        }
    }

    
}