.overlay{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .selection{
            margin: 0% 0% 3% !important;
        }
        
    }
}