.overlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 5%;
    }

    .errorMessage{
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        font-weight: bold;
        font-size: 1.5em;
    }
}

.resetSuccess{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;

    & label{
        line-height: 2em;
        font-weight: bold;
        font-size: 1.5em;
    }

    & input{
        line-height: 2em;
        letter-spacing: 1em;
        font-weight: bold;
        font-size: 1em;
        border: 2px solid grey;
        border-radius: 15px;
        outline: none;
        padding: 0 5% 0 5%;
    }

    .inputGroup{
        display: flex;
        flex-direction: column;
        margin-bottom: 7%;
    }
}